{# templates/email/account_password_reset.html.twig #}
<h1>Password reseted</h1>

<p>
    Name: {{ name }} <br>
    Firstname: {{ firstname}} <br>
    Password: {{ password }} <br>
    Email: {{ user_email }} <br>
</p>