{# templates/email/new_account.html.twig #}
<h1>New email account created !</h1>

<p>
    Name: {{ name }} <br>
    Firstname: {{ firstname}} <br>
    Password: {{ password }} <br>
    Email: {{ user_email }} <br>
</p>